<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<link href="{{ app.request.baseUrl }}/css/bootstrap.min.css" rel="stylesheet" />
<script src="{{ app.request.baseUrl }}/js/bootstrap.min.js"></script>
<title>会員登録完了</title>
</head>
<body>
<div id="wrapper">
<header id="header">
<h1><a href="/">Silex Tutor</a></h1>
</header>
<div id="content">
<h2>会員登録完了</h2>
<div class="well">
    <label>メールドレス</label>
    <div class="control-group">
    {{ member.email }}
    </div>
    <label>パスワード</label>
    <div class="control-group">
    {{ member.password }} 
</div>
</div><!-- // content -->
</div><!-- // wrapper -->
</body>
</html>
